<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://kit.fontawesome.com/01dfb9b9dd.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/head.css"/>
    <link rel="stylesheet" href="/css/members/calc.css">
</head>
<meta charset="UTF-8">
<body>
<div th:replace="fragments :: logo"></div>
<div style="text-align: center;">

    <div class="container">
        <form name="calcForm" th:action="@{/members/calc}" method="post" th:object="${calcForm}">
            <div>
                <select name="memberId" id="memberId">
                    <option> 직원 선택</option>
                    <option th:each="member : ${members}" th:value="${member.id}" th:text="${member.name}"/>
                </select>
            </div>
            <table border="1">
                <tr>
                    <td class="name">1주차</td>
                    <td>
                        <label th:for="time1"></label>
                        <input type="number" th:field="*{time1}"/>
                        <input type="checkbox" th:field="*{check1}"> 주휴 적용
                    </td>
                </tr>
                <tr>
                    <td class="name">2주차</td>
                    <td>
                        <label th:for="time2"></label>
                        <input type="number" th:field="*{time2}"/>
                        <input type="checkbox" th:field="*{check1}"> 주휴 적용
                    </td>
                </tr>
                <tr>
                    <td class="name">3주차</td>
                    <td>
                        <label th:for="time3"></label>
                        <input type="number" th:field="*{time3}"/>
                        <input type="checkbox" th:field="*{check1}"> 주휴 적용
                    </td>
                </tr>
                <tr>
                    <td class="name">4주차</td>
                    <td>
                        <label th:for="time4"></label>
                        <input type="number" th:field="*{time4}"/>
                        <input type="checkbox" th:field="*{check1}"> 주휴 적용
                    </td>
                </tr>
                <tr>
                    <td class="name">5주차</td>
                    <td>
                        <label th:for="time5"></label>
                        <input type="number" th:field="*{time5}"/>
                        <input type="checkbox" th:field="*{check1}"> 주휴 적용
                        <!--                        <input type="checkbox"> 미적용-->

                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input style="width: 100%;" class="submit-button" type="submit" value="계산하기"/>
                    </td>
                </tr>
                </th>
            </table>
        </form>
    </div>

</div>
</body>

</html>