<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://kit.fontawesome.com/01dfb9b9dd.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/head.css"/>
    <link rel="stylesheet" href="/css/members/calc.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<meta charset="UTF-8">
<body>
<div th:replace="fragments :: logo"></div>
<div style="text-align: center;">

    <div class="container">
        <form name="calcForm" th:action="@{/members/wage}" method="post" th:object="${wageSaveDto}">
            <div>
                <select name="memberId" id="memberId">
                    <option value="not-value"> 직원 선택</option>
                    <option th:each="member : ${members}" th:value="${member.id}" th:text="${member.name}"/>
                </select>
            </div>
            <table border="1">
                <tr>
                    <td class="name">1주차</td>
                    <td>
                        <label th:for="time1"></label>
                        <input type="number" th:field="*{time1}"/>
                        <input type="checkbox" th:field="*{check1}"/> 주휴 적용
                        <small class="fieldError" th:for="time1"
                        th:if="${#fields.hasErrors('time1')}"
                        th:errors="*{time1}"> Incorrect date
                        </small>
                    </td>
                </tr>
                <tr>
                    <td class="name">2주차</td>
                    <td>
                        <label th:for="time2"></label>
                        <input type="number" th:field="*{time2}"/>
                        <input type="checkbox" th:field="*{check1}"> 주휴 적용
                        <small class="fieldError" th:for="time2"
                               th:if="${#fields.hasErrors('time2')}"
                               th:errors="*{time2}"> Incorrect date
                        </small>
                    </td>
                </tr>
                <tr>
                    <td class="name">3주차</td>
                    <td>
                        <label th:for="time3"></label>
                        <input type="number" th:field="*{time3}"/>
                        <input type="checkbox" th:field="*{check1}"> 주휴 적용
                        <small class="fieldError" th:for="time3"
                               th:if="${#fields.hasErrors('time3')}"
                               th:errors="*{time3}"> Incorrect date
                        </small>
                    </td>
                </tr>
                <tr>
                    <td class="name">4주차</td>
                    <td>
                        <label th:for="time4"></label>
                        <input type="number" th:field="*{time4}"/>
                        <input type="checkbox" th:field="*{check1}"> 주휴 적용
                        <small class="fieldError" th:for="time4"
                               th:if="${#fields.hasErrors('time4')}"
                               th:errors="*{time4}"> Incorrect date
                        </small>
                    </td>
                </tr>
                <tr>
                    <td class="name">5주차</td>
                    <td>
                        <label th:for="time5"></label>
                        <input type="number" th:field="*{time5}"/>
                        <input type="checkbox" th:field="*{check1}"> 주휴 적용
                        <small class="fieldError" th:for="time5"
                               th:if="${#fields.hasErrors('time5')}"
                               th:errors="*{time5}"> Incorrect date
                        </small>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input style="width: 100%;" class="submit-button" type="submit" value="계산하기"/>
                    </td>
                </tr>
                </th>
            </table>
        </form>
    </div>

</div>
<script>

  window.addEventListener('load', function() {
    const formTag = document.getElementsByName("calcForm")[0];

    formTag.addEventListener('submit', function(submitEvt) {
      const formData = new FormData(this);

      if (formData.get('memberId').toLowerCase() === 'not-value') {
        Swal.fire({
          title: 'Error!',
          text: '직원을 선택해주세요.',
          icon: 'error',
          confirmButtonText: 'Cool'
        })
        submitEvt.preventDefault();
      }
    });
  });

</script>
</body>

</html>