
table {
    display: inline-block;
    border-collapse: collapse;
    margin: 5px;
}
th {
    padding: 8px 8px 8px 8px;
    background : #2d60f3;
    font-weight: bold;
    color: white;
}
td {
    padding: 10px 10px 10px 10px;
    color: white;
}

input {
    position:absolute;
    Top:0;
    Left :0
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem;
    background-color:#222222;
}
