<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .fieldError {
        border-color: #bd2130;
    } </style>
<meta charset="UTF-8">

<body>
<h2>시급과 주간 근무시간을 입력해주세요</h2>

<form action="/member/calc" method="post" th:object="${memberCalcForm}">

    <div th:object="${memberCalcForm}">
        <select th:field="*{name}" name="members">
            <option value="">직원 선택</option>
            <option th:each="member : ${members}"
                    th:value="${member.name}"
                    th:text="${member.name}">
            </option>
        </select>
    </div>

    <p>
        <label th:for="weekTime">1주차</label>
        <input type="text" th:field="*{time1}" align="right"/>
    </p>
    <p>
        <label th:for="weekTime">2주차</label>
        <input type="text" th:field="*{time2}" align="right"/>
    </p>
    <p>
        <label th:for="weekTime">3주차</label>
        <input type="text" th:field="*{time3}" align="right"/>
    </p>
    <p>
        <label th:for="weekTime">4주차</label>
        <input type="text" th:field="*{time4}" align="right"/>
    </p>
    <p>
        <label th:for="weekTime">5주차</label>
        <input type="text" th:field="*{time5}" align="right"/>
    </p>


    <p>
        <label th:for="weekTime">시급</label>
        <input type="text" th:field="*{hourlyWage}" align="right"/>
    </p>
    <p>
        <input type="submit" value="계산하기"/>
    </p>

</form>
</body>
</html>