<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .fieldError {
        border-color: #bd2130;
    } </style>
<meta charset="UTF-8">

<body>
<h2>직원을 등록하는 페이지 입니다</h2>

<form action="/member/new" method="post" th:object="${memberForm}">
    <p>
        <label th:for="name"></label>
        <input type="text" th:field="*{name}" align="right"
               th:class="${#fields.hasErrors('name')}?
                   'form-control fieldError' : 'form-control'"/>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
    </p>

    <p>
        <input type="submit" value="등록하기"/>
    </p>
</form>
</body>
</html>