<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>월급 현황입니다</h2>

<table border="1">
    <th>번호</th>
    <th>이름</th>
    <th>근무시간</th>
    <th>월급</th>
    <tr th:each="member : ${members}">
        <td th:text="${memberStat.count}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.time}"></td>
        <td th:text="${member.totalWage()}"></td>
    </tr>
</table>

</body>
</html>