<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>월급 현황입니다</h2>

<table border="1">
    <th>번호</th>
    <th>이름</th>
    <th>1주차</th>
    <th>2주차</th>
    <th>3주차</th>
    <th>4주차</th>
    <th>5주차</th>
    <th>월급</th>
    <tr th:each="member : ${members}">
        <td th:text="${memberStat.count}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.oneWeekWage}"></td>
        <td th:text="${member.twoWeekWage}"></td>
        <td th:text="${member.threeWeekWage}"></td>
        <td th:text="${member.fourWeekWage}"></td>
        <td th:text="${member.fiveWeekWage}"></td>
        <td th:text="${member.totalWage}"></td>
    </tr>
</table>

</body>
</html>