<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/createMemberForm.css"/>
<link rel="stylesheet" href="/css/head.css"/>
<style>
    body {
        background-color: #e2dbdb;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div style="text-align: center;">
    <div>
        <button class="title" onclick="location.href='/'">COFFEE HOLE</button>
    </div>
    <h2>직원 수정</h2>
        <form action="/members/update" method="post" th:object="${form}">
            <div class="container">
                <div class="in-line">
                    <input type="hidden" id="memberId" name="memberId" th:value="${form.getId()}">
                    <input type="text" th:field="*{name}" align="right" placeholder="수정할 이름 입력"
                           th:class="${#fields.hasErrors('name')}?
                   'form-control fieldError' : 'form-control'"/>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
                    <input type="submit" value="수정">
                    <input type="button" value="뒤로가기" onclick="history.back();">
                </div>
            </div>
        </form>
</div>
</body>
</html>
