<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <style>
        .fieldError {
            border-color: #bd2130;
        } </style>
    <meta charset="UTF-8">

    <body>
        <h2>추가하실 메뉴를 입력해주세요</h2>
        <form action="/menu/new" method="post" th:object="${menuForm}">
            <p>
                <label th:for="name">이름</label>
                <input type="text" th:field="*{name}" align="right"
                       th:class="${#fields.hasErrors('name')}?
                   'form-control fieldError' : 'form-control'"/>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
            </p>

            <p>
                <label th:for="price">가격</label>
                <input type="text" th:field="*{price}" align="right"
                       th:class="${#fields.hasErrors('price')}?
                   'form-control fieldError' : 'form-control'"/>
                <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Incorrect date</p>
            </p>

<!--            <p>메뉴 종류-->
<!--                <label th:each="ty : ${menuForm.menuType}">-->
<!--                    <input type="radio" th:field="*{menuType.COFFEE}"-->
<!--                           th:value="${menuForm.menuType.COFFEE}" checked="checked" />-->
<!--                    <label th:for="${#ids.prev('menuType')}">커피</label>-->
<!--                </label>-->
<!--                <label th:each="ty : ${menuForm.menuType}">-->
<!--                    <input type="radio" th:field="*{menuType.NON_COFFEE}"-->
<!--                           th:value="${menuForm.menuType.NON_COFFEE}" />-->
<!--                    <label th:for="${#ids.prev('menuType')}">논커피</label>-->
<!--                </label>-->
<!--            </p>-->

            <p>메뉴 종류
                <label>
                    <input type="radio" name="menuType" value="COFFEE" align="right" checked="checked"/>
                    커피
                    <input type="radio" name="menuType" value="NON_COFFEE" align="right"/>
                    논커피
                </label>
            </p>

            <p>
                <input type="submit" value="추가하기"/>
            </p>
        </form>
    </body>
</html>