<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/home.css"/>
<link rel="stylesheet" href="/css/head.css">
<style>
    body {
        font-family: 'Poppins', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        font-size: 1.5rem;
        background-color:#222222;
    }

</style>
<head>
    <script src="https://kit.fontawesome.com/01dfb9b9dd.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments :: logo"></div>
<div style="text-align: center;">
    <div class="container">
        <div class="top">
            <a class="topButton" type="button" th:href="@{/members/form}">
                <i class="fas fa-user-friends"></i>
                <span class="btn">직원 등록</span>
            </a>
            <a class="topButton" type="button" th:href="@{/members/info}">
                <i class="fas fa-user-cog"></i>
                <span class="btn">직원 관리</span>
            </a>
        </div>
        <div>
            <a class="bottomButton" type="button" th:href="@{/members/calc}">
                <i class="fas fa-calculator"></i>
                <span class="btn"> 시급 계산</span>
            </a>
            <a class="bottomButton" type="button" th:href="@{/members/total}">
                <i class="fas fa-user-check"></i>
                <span class="btn">월급 확인</span>
            </a>
        </div>
    </div>
</div>
</body>
</html>