<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> 추가하실 메뉴를 입력해주세요</h2>
<form action="/admin" method="post">

<!--    TODO : 입력을 하지 않을 경우 예외 처리-->
    <p> 이름 <label>
        <input type="text" name="name" align="right"/>
    </label></p>

    <p> 가격 <label>
        <input type="text" name="price" align="right"/>
    </label></p>

    <p> 메뉴 종류 <label>
        <input type="radio" name="type" value="COFFEE" align="right"/> 커피
        <input type="radio" name="type" value="NON_COFFEE" align="right"/> 논커피
    </label></p>

    <p><input type="submit" value="추가하기"/></p>
</form>
</body>
</html>`